<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpeakEase</title>
    <link href="/css/output.css" rel="stylesheet">
</head>
<body>
    <h1 class="text-blue-500">Dashboard :P :D</h1>
    <div>
        <input id="textInput" type="text" value="type here">
        <button onclick="sendText()">send</button>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>